// * Подключаем шрифт Montserrat для всего проекта */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Сброс стилей для всех элементов */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//  {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
// * {
// 	box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  background: #ffffff; 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
